@{
    Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2>Animal Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.AnimalName): @Html.DisplayFor(model => model.AnimalName)</h3>
<h3>@Html.DisplayNameFor(model => model.AnimalType): @Html.DisplayFor(model => model.AnimalType)</h3>
<h3>@Html.DisplayNameFor(model => model.IntakeDate): @Html.DisplayFor(model => model.IntakeDate)</h3>
<p>@Html.ActionLink("Back to list", "Index")</p>
